@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
#cf {
    position:relative;
    height: 64px;
    padding-top:16px;
    padding-bottom:16px;
}
#logo{
    height:64px;
    padding-top:64px;
    padding-bottom:32px;
}
#cf img {
    position:absolute;
    height:64px;
    width:64px;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3 ease-in-out;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}
.top{
    opacity:1;
}
.bottom{
    opacity:0;
}
#logoa:hover .bottom{
    opacity:1;
}
#logoa:hover .top{
  opacity:0;
}
body {
	margin: 0;
    display:flex;
    min-height:100vh ;
}

#navbar {
    background-image: linear-gradient(-135deg,#123556,#5f7dad);
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    font-weight: 600;
    width:13%;
    min-width:10px;
    -moz-user-select: none; /* Firefox */ 
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
}

#content {
    padding-left:10px;
}
.nav {
	margin-top: 0;
	padding-left: 0;
	list-style-type: none;
    flex-grow:1;
}

.nav li {
    display: block;
    text-align: center;
    line-height: 3;
}

.nav li a {
    padding: 0;
    width:100%;
    color: white;
    text-decoration: none;	
    display: inline-block;	
    transition: all .3s;
}

.nav li a:hover {
	background-color: white;
	color: #123556;
	transition: all 0.5s;
}
body {
  margin: 0;
}